#about,
#education,
#project,
#contact,
#sertificate,
#exp,
.social,
#jumbotron,
.navbar {
  font-family: josefinreg;
}
.navbar {
  background-color: #222831;
}
footer {
  font-family: josefinreg;
  background-color: #222831;
}
#jumbotron {
  padding-top: 9rem;
  background-color: #393e46;
  height: 750px;
  font-family: josefinreg;
  animation: 2s;
}

#project {
  background-color: #eeeeee;
}

section {
  padding-top: 4rem;
}
#about {
  height: 500px;
  background-color: #eeeeee;
}
.social {
  background-color: #393e46;
}

.social .container i {
  font-size: 60px;
  margin-right: 25px;
  text-decoration: none;
  color: black;
}

.bold-line {
  border-top: 2px solid #ffff;
  opacity: 0.3;
}
.education {
  padding: 5rem;
  background-color: #eeeeee;
}
.content {
  margin-top: 60px;
  margin-left: 50px;
}
.education .container h2 {
  font-size: 50px;
}
.about {
  font-size: 50px;
}
#sertificate {
  padding: 25px;
}
#exp {
  background-color: #faf3f0;
}
.jumbotron img {
  transform: scale(1);
}

.jumbotron img:hover {
  animation: zoomFade 1s forwards;
}

#sertificate img {
  transform: scale(1);
}
#sertificate img:hover {
  animation: zoomFadeSertif 1s forwards;
}
/*Fonts*/
@font-face {
  font-family: Bebasneue;
  src: url(fonts/bebasneue-regular-webfont.woff);
}
@font-face {
  font-family: josefinreg;
  src: url(fonts/josefinsans-regular-webfont.woff);
}

/*Transition*/
@keyframes zoomFade {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(1.5);
    opacity: 1;
  }
}
@keyframes zoomFadeSertif {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(1.3);
    opacity: 1;
  }
}
